<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"messages-container","layout":{"type":"constrained","contentSize":"1200px"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}}} -->
<main class="wp-block-group messages-container">
    <!-- wp:heading {"level":1,"fontSize":"xx-large"} -->
    <h1 class="wp-block-heading has-xx-large-font-size">信息列表</h1>
    <!-- /wp:heading -->

    <!-- wp:block-canvas-child/messages-grid /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->